* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 3360px;
    margin: 0 auto;
}

header {
    width: 3360px;
    height: 1849px;
    background-color:  rgba(69, 84, 105, 0.95);
}

.logo {
    float: left;
    margin-top: 133px;
    margin-left: 522px;
    background: url(images/logo.png) no-repeat;    
    width: 400px;
    height: 95px;
    font-size: 82px;
    font-weight: 400;
    color: #efefef;
    line-height: 95px;
    text-align: left;
    padding-left: 144px;
}

.logo_text {
    margin-left: 513px;
    padding-top: 454px;
    background: url(images/center_header.png) no-repeat right 457px;
    width: 2258px;
    height: 709px;
    
}

.logo_text h2 {
    font-family: RobotoSlab;
    color:  #ffffff;
    font-size: 102px;
    font-weight: 400;
    text-align: justify;
    width: 1324px;
}

.logo_text p {
    margin-top: 110px;
    margin-bottom: 125px;
    color:  #c5d2e5;
    font-size: 52px;
    font-weight: 400;
    line-height: 84px;
    text-align: left;
    width: 1152px;
}

.logo_text a {
    display: block;
    text-decoration: none;
    background-color: #67bf95;
    width: 530px;
    height: 156px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 72px;
    font-weight: 400;
    line-height: 156px;
    text-align: center;
    
}


.about_us {
    width: 2056px;
    height: 817px;
    background: url(images/doc.png) no-repeat 578px 198px;
    padding-top: 198px;
    padding-left: 1304px;
    
}
.center_about_us {
    float: left;
}

.about_us h2 {
    font-family: RobotoSlab;
    color:  #37414e;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    width: 1040px;
}

.about_us p {
    color:  #4b596c;
    font-size: 40px;
    font-weight: 400;
    line-height: 84px;
    text-align: justify;
    width: 1161px;
}

.icons {
    width: 141px;
    float: left;
    margin-left: 235px;
}

.edit {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #67bf95;
    background-color: #67bf95;
    width: 141px;
    height: 141px;
    margin-bottom: 118px;
    text-align: center;
    color: #f6f6f7;
    
}

.fb {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #67bf95;
    background-color: #f6f6f7;
    width: 141px;
    height: 141px;
    text-align: center;
    color: #67bf95;
}
.fb i, .edit i {
    margin-top: 54px;
}

.modern {
    width: 3360px;
    height: 1632px;
    background-color: #52ad81;
}

.modern_text {
    float: left;
    margin-top: 226px;
    margin-left: 830px;
}

.modern_text h2 {
    color: #ffffff;
    font-size: 112px;
    font-weight: 500;
    line-height: 65px;
    text-align: left;
    margin-bottom: 46px;
}

.modern_text p {
    margin-left: 25px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    line-height: 65px;
    text-align: left;   
}

.modern_img {
    background: url(/images/google.png) no-repeat right;
    float: left;
    width: 2330px;
    height: 950px;
    margin-top: 283px;
    left: 515px;
    padding-left: 515px;
}

.modern_img_left,
.modern_img_right {
    border-radius: 50%;
    border: 3px solid #b3dbc8;
    width: 84px;
    height: 84px;
    position: relative;
}

.modern_img_left {
    background: url(/images/chevron-left.png) no-repeat center;
    right: 287px;
    top: 92px;
}

.modern_img_right {
    background: url(/images/chevron-right.png) no-repeat center;
    float: right;
    left: 287px;    
}


.mail {
    width: 3360px;
    height: 2437px;
    background-color: #2d3136;
}

.mail_img {
    border-radius: 50%;
    border-style: solid;
    border-width: 51px;
    border-color: #383939;
    background: url(images/lsd.png) no-repeat center,
                url(images/long-shadow.png) no-repeat 0px 130px;
    background-color: #be393b;
    width: 456px;
    height: 456px;
    margin: 0 auto;
    position: relative;
    top: 300px;
    
}
.message {
    margin-top: 527px;
    font-family: Roboto;
    color: #d7d7d7;
    font-size: 70px; 
    font-weight: 500;
    line-height: 65px; 
    text-align: left;
    
}

.message sup {
    color: #be393b;
}

input[type="text"],
input[type="email"]{
    width: 878px;
    height: 128px;
    border: 3px solid rgba(255, 255, 255, 52);
    border-radius: 10px;
    background-color:  #2f3136;
    margin-top: 73px;
    margin-bottom: 106px;
    padding: 33px;
    color: #d7d7d7;
    font-size: 60px; 
    font-weight: 400;
    line-height: 65px;
    text-align: left;
}

.form_left {
    width: 945px;
    height: 793px;
    float: left;
    margin-left: 508px;
    margin-right: 258px;
}

.form_right {
    float: left;
}

textarea {
    width: 1074px;
    height: 594px;
    border: 3px solid rgba(255, 255, 255, 52);
    border-radius: 10px;
    background-color:  #2f3136;
    margin-top: 73px;
    margin-bottom: 186px;
    padding: 33px;
    color: #d7d7d7;
    font-size: 60px; 
    font-weight: 400;
    line-height: 65px;
    text-align: left;
}

input[type="submit"] {
    border-radius: 10px;
    background-color: #be393b;
    width: 460px;
    height: 184px;
    color: #ffffff;
    font-size: 72px; 
    font-weight: 700;
    line-height: 65px; 
    text-align: center;
    float: right;
}

footer {
    width: 3360px;
    height: 390px;
    background-color: #2a2d33;
}

.icons_footer {
    height: 95px;
    width: 300px;
    float: right;
    margin-right: 538px;
    margin-top: 86px;
}

.twit,
.facebook {
    border-radius: 50%;
    border:5px solid #454648;
    background-color: #2f3338;
    width: 89px;
    height: 89px;
    float: left;
    text-align: center;
    color: #454648;
}

.twit i,
.facebook i {
    margin-top: 20px;
}

.twit {
    margin-right: 110px;    
}